# Classification based Collaborative Filtering Systems
## Logistic Regression Classifier
![](Chapter-2.png)

In [1]:
#importing libraries
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

In [2]:
#importing bank data
bank_full = pd.read_csv('bank_full_w_dummy_vars.csv')
bank_full.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1
5,35,management,married,tertiary,no,231,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,...,0,0,0,0,0,0,0,0,1,1
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,0,0
8,58,retired,married,primary,no,121,yes,no,unknown,5,...,0,1,0,0,0,0,0,1,0,0
9,43,technician,single,secondary,no,593,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1

In [3]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45211 non-null  int64
 1   job                           45211 non-null  object
 2   marital                       45211 non-null  object
 3   education                     45211 non-null  object
 4   default                       45211 non-null  object
 5   balance                       45211 non-null  int64
 6   housing                       45211 non-null  object
 7   loan                          45211 non-null  object
 8   contact                       45211 non-null  object
 9   day                           45211 non-null  int64
 10  month                         45211 non-null  object
 11  duration                      45211 non-null  int64
 12  campaign                      45211 non-null  int64
 13  pdays                         45211 non-null  int64
 14  previous                      45211 non-null  int64
 15  poutcome                      45211 non-null  object
 16  y                             45211 non-null  object
 17  y_binary                      45211 non-null  int64
 18  housing_loan                  45211 non-null  int64
 19  credit_in_default             45211 non-null  int64
 20  personal_loans                45211 non-null  int64
 21  prev_failed_to_subscribe      45211 non-null  int64
 22  prev_subscribed               45211 non-null  int64
 23  job_management                45211 non-null  int64
 24  job_tech                      45211 non-null  int64
 25  job_entrepreneur              45211 non-null  int64
 26  job_bluecollar                45211 non-null  int64
 27  job_unknown                   45211 non-null  int64
 28  job_retired                   45211 non-null  int64
 29  job_services                  45211 non-null  int64
 30  job_self_employed             45211 non-null  int64
 31  job_unemployed                45211 non-null  int64
 32  job_maid                      45211 non-null  int64
 33  job_student                   45211 non-null  int64
 34  married                       45211 non-null  int64
 35  single                        45211 non-null  int64
 36  divorced                      45211 non-null  int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [48]:
#splitting our data 
#training data
x = bank_full.iloc[:, 18:37].values
#testing data or trget
y = bank_full.iloc[:, 17].values

In [49]:
print(y)

[0 0 0 ... 1 0 0]

In [50]:
#defining model (logisitc regression), instantiate
logreg = LogisticRegression()
#fitting
logreg.fit(x, y)

LogisticRegression()

In [51]:
#a user who works at management and is divorceed and single
#checkingi if this user is likely to buy the sales putvh
new_user = np.array([0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1])

In [54]:
new_user

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [55]:
np.reshape(new_user, (1, -1))

array([[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]])

In [56]:
y

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [59]:
#reshaping the input
new_user = np.reshape(new_user, (1, -1))

In [62]:
#predicting if the user buys the pitch or not 
y_pred = logreg.predict(new_user)

In [63]:
y_pred

array([0], dtype=int64)

In [64]:
#thus sam will not accept the pitch from the bank according to our model